body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Styling the Ipod */

.main-container {
  background-color: #e8d2b0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rect {
  background-color: #737273;
  height: 11rem;
  width: 14rem;
  border: 0.2rem solid black;
  border-top: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* main circle in ipod */

.circ1 {
  background-color: #2e2d2e;
  height: 7rem;
  width: 7rem;
  border: 2px solid black;
  border-radius: 50%;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Inner circle */

.circ2 {
  background-color: #737273;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

/* Menu button  */

.menu {
  height: 1rem;
  width: 3rem;
  position: relative;
  color: #fbfafb;
  top: -1.5rem;
  left: 0rem;
  background-color: transparent;
  cursor: default;
}

/* Forward Button */

.forward {
  height: 1rem;
  width: 1.5rem;
  color: #fbfafb;
  position: relative;
  top: -0.25rem;
  left: 3.3rem;
}
.forward img {
  height: 1rem;
  width: 1rem;
}

/* Pause Button */

.pause {
  position: relative;
  top: 1.3rem;
}
.pause img {
  height: 1.5rem;
  width: 1.5rem;
}

/* Backward Button */

.backward {
  position: relative;
  top: -2.75rem;
  left: -1.8rem;
  height: 1rem;
  width: 1.5rem;
  transform: rotate(180deg);
}
.backward img {
  height: 1rem;
  width: 1rem;
}

/* Styling the display Screen */

.main-screen {
  height: 14rem;
  width: 14rem;
  border: 0.2rem solid black;
  border-bottom: none;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #737273;
}
.display-screen {
  height: 13.6rem;
  width: 13.6rem;
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  box-sizing: border-box;
  border-bottom-right-radius: 0;
  background-color: white;
}

/* Styling the <Home/> component */

.home-main {
  display: flex;
}

/* Home left container */

.main-left {
  height: 13.6rem;
  width: 50%;
  border-top-left-radius: 1rem;
  box-sizing: border-box;
  border: 2px solid black;
}

/* Home right Container */

.main-right {
  height: 13.6rem;
  width: 50%;
  border-top-right-radius: 1rem;
  box-sizing: border-box;
  border: 2px solid black;
  border-left: none;
}
.home-heading {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.home-menu {
  height: 2.5rem;
  width: 100%;
  box-sizing: border-box;
  padding-top: 0.5rem;
  padding-left: 0.2rem;
  font-size: 0.9rem;
  text-align: left;
  cursor: pointer;
}

/* Current Active List Class */

.activeList {
  background-color: aqua;
}
